<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Panel de administración</h1>
    <ul>
        <li><a href="{{ url_for('listar_peliculas') }}">Gestionar Películas</a></li>
        <li><a href="{{ url_for('listar_clientes') }}">Gestionar Clientes</a></li>
        <li><a href="{{ url_for('listar_compras') }}">Gestionar Compras</a></li>
    </ul>
</body>
</html>