<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reportes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='crud.css') }}"
    />
  </head>
  <body>
    <!-- Formulario para seleccionar el tipo de reporte -->
    <nav>
      <h1><a href="{{ url_for('index') }}">PELISYA</a></h1>
      <a href="{{ url_for('listar_peliculas') }}">Gestionar Películas</a>
      <a href="{{ url_for('listar_clientes') }}">Gestionar Clientes</a>
      <a href="{{ url_for('listar_compras') }}">Gestionar Compras</a>
      <a
        href="{{ url_for('reportes') }}"
        style="border-bottom: 1px solid #e7c530"
        >Mis reportes</a
      >
    </nav>
    <div class="container">
      <h2>Reportes</h2>

      <form method="POST" class="reportes">
        <label for="reporte">Selecciona el reporte:</label>
        <select name="reporte" id="reporte">
          <option value="">Seleccione</option>
          <option value="peliculas_mas_vendidas">Películas más vendidas</option>
          <option value="clientes_mas_compras">Clientes con más compras</option>
          <option value="ventas_por_intervalo">Ventas por intervalo</option>
        </select>

        <!-- Si selecciona ventas por intervalo -->

        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" name="fecha_inicio" id="fecha_inicio" />
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" name="fecha_fin" id="fecha_fin" />

        <button type="submit">Generar Reporte</button>
      </form>

      <!-- Mostrar reporte de películas más vendidas -->
      {% if peliculas_mas_vendidas %}
      <h2>Películas más vendidas</h2>
      <ul>
        {% for pelicula_id, ventas in peliculas_mas_vendidas %}
        <li>Película ID {{ pelicula_id }}: {{ ventas }} ventas</li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- Mostrar reporte de clientes con más compras -->
      {% if clientes_mas_compras %}
      <h2>Clientes con más compras</h2>
      <ul>
        {% for cliente_id, compras in clientes_mas_compras %}
        <li>Cliente ID {{ cliente_id }}: {{ compras }} compras</li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- Mostrar ventas por intervalo -->
      {% if ventas_por_intervalo %}
      <h2>Ventas entre las fechas seleccionadas:</h2>
      <ul>
        {% for venta in ventas_por_intervalo %}
        <li>
          ID Compra: {{ venta['id_compra'] }} - Cliente ID: {{
          venta['id_cliente'] }} - Película ID: {{ venta['id_pelicula'] }} -
          Fecha: {{ venta['fecha'] }}
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </body>
</html>
